@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

::root {
  --side-bar-bcg: #ffffff;
  --main-bcg:   #F4F7FD;
  --sidebar-hover-clr: #635FC7;
  --board-hover-bcg: hsl(220, 69%, 95%);
  --nav-bcg: #ffffff;
  --tasks-text: #000000;
  --tasks-bcg: #ffffff;
  --new-col-bcg: #E9EFFA;
  --subtasks-btn: rgba(99, 95, 199, 0.1);
}

.light-mode {
  --side-bar-bcg: #ffffff;
  --main-bcg:   #F4F7FD;
  --sidebar-hover-clr: #635FC7;
  --board-hover-bcg: hsl(220, 69%, 95%);
  --nav-bcg: #ffffff;
  --tasks-text: #000000;
  --tasks-bcg: #ffffff;
  --new-col-bcg: #E9EFFA;
  --stat-color: #828FA3;
  --subtasks-btn: rgba(99, 95, 199, 0.1);
}

.dark-mode {
  --side-bar-bcg: #2B2C37;
  --main-bcg:  #20212C;
  --sidebar-hover-clr: #635FC7;
  --board-hover-bcg:#ffffff;
  --nav-bcg: #2B2C37;
  --tasks-text: #ffffff;
  --tasks-bcg: #2B2C37;
  --new-col-bcg:  linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.125) 100%);;
  --stat-color: #ffffff;
  --subtasks-btn: #ffffff;
}


body {
  transition: all .5s linear;
}
